body {
  margin: 0;
  padding: 0;
  background: #6441a4;
  font-family: Helvetica, Calibri, Ariel, sans-serif;
}

button {
  border: none;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

#header {
  margin: 0 20px;
  padding: 20px;
  font-family: 'Fredoka One', sans serif;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  color: #6441a4;
  margin: 0;
  font-size: 60px;
  text-align: center;
}

#header ul {
  list-style: none;
  padding-bottom: 0;
  text-align: center;
  margin: 10px 0;
}

#header li {
  display: inline;
  padding: 0 auto;
  margin: 0 20px 0 0;
}

button {
  font-family: 'Fredoka One', sans serif;
  font-size: 1em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  background: #ccc;
  border-radius: 8px;
  padding: 12px;
}

button:hover {
  background: #ccc0e0;
}

button:active {
  background-color: #6441a4;
}

.pressed {
  background-color: #6441a4;
}

.pressed:hover {
  background-color: #533183;
}

.pressed:active {
  background-color: #322052;
}
.status {
  float: left;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: .4em;
}
.on {
  background-color: #ff4500;
}
.off {
  background-color: #999;
  opacity: .6;
}

a {
  text-decoration: none;
}

.streamer-entry {
  margin: 12px 20px;
  height: 120px;
  border-radius: 10px;
  transition: 
    background-color .2s ease,
    transform 0.4s cubic-bezier(0.2, 0.9, 0.5, 1.6);
}

a .streamer-entry {
  color: #000;
}

.streamer-entry h2 {
  color: #6441a4;
  padding: 16px 0 0 0;
  margin: 0;
  font-family: 'Fredoka One', sans serif;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.streamer-entry p {
  padding: 6px 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slide {
  background-color: #fff;
}

.slide:hover {
  background-color: #ccc0e0;
  transform: translateX(-20px);
}

.unavailable {
  background-color: #ccc0e0;
  padding: 0 16px;
}

.unavailable > h2, .unavailable > p {
  color: #666;
}

.hide {
  display: none;
}

.channel-logo {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

footer {
  margin: 12px 20px 0 20px;
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

@media(max-width:500px) {
  body {
    font-size: .9em;
  }
  #header {
    margin: 0;
    border-radius: 0;
  }
  .title {
    font-size: 46px;
  }
  .streamer-entry {
    height: 80px;
  }
  .channel-logo {
    height: 80px;
    width: 80px;
  }
  .channel-description {
    display: none;
  }
  footer {
    margin: 0;
    border-radius: 0;
  }
}
